<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Ejs</title>

</head>
<body>
    <% if (status) { %>
    <h1><%= mensaje%></h1>
    <%} else { %>
    <h1> No existe el mensaje </h1> 
    <% } %>

    <ul>
    <% lista.map(e => { %>
    <div class="card" style="width: 18rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title"><%= e.title %></h5>
          <p class="card-text"><%= e.price %></p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    <% }); %>    
    </ul>   

    <h2 text-align="center"> INGRESE EL PRODUCTO</h2>
    <form>
    <div class="container">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Ingrese nombre del producto">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Price</label>
            <input type="number" class="form-control" id="price" placeholder="$000">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Imagen</label>
            <input type="text" class="form-control" id="thumbnail" placeholder="http//...">
        </div>
        <a href="#" class="btn btn-primary" type="submit"  value="Enviar">Enviar</a>
    </div>
    </form>

    <div style= "display: inline-block;">
        <div>
            <span><%= min %></span>
            <span style="float:right;"><%= max %></span>
        </div>
        <div class="barra">
            <div class="indicador" style="width: 50%">
        </div>
        </div>
    </div>
</body>
</html>